:root {
    --blue: #3D9BE9;
    --purple: #252897;
    --green: #46a748;
    --yellow: #FFD52F;
    --orange: #ff9900;
    --red: #EA2230;
    --grey: #808285;
    --dark-grey: #333333;
    --light-grey: #efefef;
    --header-text: 'Noto Sans', sans-serif;
    --body-text: 'Alef', sans-serif;
}

/*===Typography===*/

* {
    font-size: 16px;

}

h1,
.h1 {
    font-size: 2rem;
    color: var(--red);
}

h1,
h2 h3,
h4,
h5,
h6 {
    font-family: var(--header-text);

}

p {
    line-height: 1.5;
    color: var(--dark-grey);
    font-family: var(--body-text);
}

/*===Layout===*/

.container {
    display: block;
    max-width: 1400px;
    margin: 0 auto;
}

@media (width <=1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (width <= 992px) {
    .container {
        max-width: 992px;
    }    
}

@media (width <= 768px) {
    .container {
        max-width: 768px;
    }
}

@media (width <= 576px) {
    .container {
        max-width: 576px;
    }
}

/*===Utilities===*/

.text-red {
    color: var(--red);
}

.text-dark-grey {
    color: var(--dark-grey);
}

.d-block {
    display: block;
}