:root {
    --blue: #3D9BE9;
    --purple: #252897;
    --green: #46a748;
    --yellow: #FFD52F;
    --orange: #ff9900;
    --red: #EA2230;
    --grey: #808285;
    --dark-grey: #333333;
    --light-grey: #efefef;
    --header-text: 'Noto Sans', sans-serif;
    --body-text: 'Alef', sans-serif;
}

body {
    background-color: var(--light-grey);
}
/*===Typography===*/

* {
    font-size: 16px;

}

h1,
.h1 {
    font-size: 2rem;
    color: var(--red);
    margin-top: 0;
}

h1,
h2 h3,
h4,
h5,
h6 {
    font-family: var(--header-text);

}

p {
    line-height: 1.5;
    color: var(--dark-grey);
    font-family: var(--body-text);
}

/*===Layout===*/

.container {
    display: block;
    margin: 0 auto;
    max-width: 992px;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    height: 100vh;
    padding: 40px 40px;
    background-color: white;
    position: relative;
    top: -20px;
}

@media (width <=1400px) {
    .container {
        display: block;
        margin: 0 auto;
        max-width: 1400px;
    }
}

@media (width <=1200px) {
    .container {
        display: block;
        margin: 0 auto;
        max-width: 992px;
    }
}

@media (width <=768px) {
    .container {
        display: block;
        margin: 0 auto;
        max-width: 768px;
    }
}

@media (width <=576px) {
    .container {
        display: block;
        margin: 0 auto;
        max-width: 576px;
    }
}

/*===Utilities===*/

.text-red {
    color: var(--red);
}

.text-dark-grey {
    color: var(--dark-grey);
}

.d-block {
    display: block;
}